.cropperContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* 100vh - TopBar Height - Footer Height - Gaps - Text Height  */
  height: calc(100vh - 60px - 95px - (var(--mantine-spacing-md) * 5) - 45px - 27px);
  gap: var(--mantine-spacing-sm);
}

.cropper {
  height: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}